@use postcss-preset-env;
@use postcss-nested;

[hidden] {
  display: none; }

body {
  font-family: sans-serif; 

}
nav {
    border: 1px solid red;
    height: 75px;
}
.navigation button {
  display: block;
  position: absolute;
  top: 30px;
  right: 130px;
  border: 0;
  height: 75px;
  width: 75px;
  background: none;
  color: #B33951;
  font-size: 2rem;
  padding: 0;
  transition: 0.2s 0.5s color ease-in-out; }
  .navigation button svg {
    display: block;
    pointer-events: none;
    stroke: currentcolor;
    vertical-align: middle;
    height: 75px;
    width: 75px;
    transition: 0.2s 0.5s stroke ease-in-out; }
  .navigation button::before {
    content: ' ';
    position: absolute;
    border-radius: 200vh;
    opacity: 0;
    left: calc(-130vmax + 50%);
    top: calc(-130vmax + 50%);
    width: 260vmax;
    height: 260vmax;
    background: #B33951;
    display: block;
    z-index: -1;
    transform: scale3d(0, 0, 0);
    transform-origin: 50% 50%;
    transition: 0.5s ease-in-out transform, 0.2s 0.4s ease-in-out opacity; }
  .navigation button[aria-expanded=true] {
    color: #fff; }
  .navigation button[aria-expanded=true]::before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: 0.5s ease-in-out transform, 0.1s ease-in-out opacity; }

#menu {
  pointer-events: none;
  list-style: none;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0; }
  #menu a {
    text-decoration: none;
    font-weight: bold;
    color: #fafafa;
    opacity: 0;
    display: block;
    font-size: 40px;
    transform: translateY(-10px);
    transition: 0.2s 0.5s ease-out opacity, 0.2s 0.5s ease-out transform; }
  #menu a:hover {
    color: #2e0b12;
    transition: 0.2s 0.5s ease-out opacity, 0.2s 0.5s ease-out transform; }
  #menu li:nth-child(2) a {
    transition: 0.2s 0.7s ease-out opacity, 0.2s 0.7s ease-out transform; }
  #menu li:nth-child(3) a {
    transition: 0.2s 0.9s ease-out opacity, 0.2s 0.9s ease-out transform; }
  #menu li:nth-child(4) a {
    transition: 0.2s 1.1s ease-out opacity, 0.2s 1.1s ease-out transform; }

#menu:not([hidden]) {
  pointer-events: all; }
  #menu:not([hidden]) a {
    opacity: 1;
    transform: translateY(0); }