html, body {
	width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
	font-family: 'Lato','Avenir', sans-serif;
}
.wrapper {
	display: flex;
    width: 100%;
}
.info {
    margin-top: 10%;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}
h1 {
    font-size: 3.4rem;
    font-weight: 900;
	color: #323648;
}
.p {
    line-height: 1.6em;
    font-size: 1.1rem;
    text-align: left;
	color: #323648;    
	margin: 20px auto;
	display: flex;
	padding: 0 10px;
	align-items: center;
}
.bio-link{
    color: #323648;
	text-decoration: underline;    
}
.p div:first-child {margin-right: 5px;}

.dibs {
	background: url('../assets/1stdibs.jpg');
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	line-height: 1.6em;
}
.slack img {
	margin-right: 5px;
}
.last:hover {
    margin-top: 25px;
    transition: .2s;
}  
.lastIcon {
    font-size: 22px;
}
.projects {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.project-link {
    width: 100%;
    text-decoration: none;
}
.projectRow {
    width: 100%;
    margin-left: 0%;
    display: flex;
    height: 525px;
    margin-top: 5%;
    flex-direction: row;
}
@media screen and (min-width: 1900px) {
    .projectRow {
        height: 700px;
    }
    .project-title {
        font-family: 'Avenir', sans-serif;
        font-size: 1.8rem!important;
        margin-top: 7%;
        text-align: left;
        color: #323648;    
        margin-left: 10%;
        text-decoration: none!important;
    }
    .tags {
        font-size: 1.1rem!important;
        text-align: left;
        font-family: Avenir;
        font-weight: 500;
        color: #222;    
        margin-top: -4%;
        margin-left: 10%;
        opacity: .4;
    }
    .project-p {
        font-size: 1.5rem!important;
        text-align: left;
        font-weight: 100;
        width: 80%;
        text-decoration: none;
        font-family: Avenir;
        color: #222;    
        margin-top: -2%;
        margin-left: 10%;
    }
}
.projectWrapper {
    display: flex;
    flex: 1;
}

.project {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 75%;
    box-shadow: 0px 10px 15px rgba(34, 34, 34,.3);
}
.projectImageWrapper {
    height: 70%;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.project-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.projectImageWrapper .wine {
    background-image: url(../assets/wine/wineThumbnail.svg);
}
.projectImageWrapper .drone {
    background-image: url(../assets/drones/dronesThumbnail.svg);
}
.projectImageWrapper .darwish {
    background-image: url(../assets/darwish/darwishThumbnail.png.svg);
}
.projectImageWrapper .quentin {
    background-image: url(../assets/tarantino/quentinThumbnail.png.svg);
}
.projectImageWrapper .njit {
    background-image: url(../assets/njit/njitThumbnail.png.svg)
}
.projectImageWrapper .ui-designs {
    background-image: url(../assets/ui-designs/ui-designs-thumbnail.svg)
}
.project img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.project-title {
	font-family: 'Avenir', sans-serif;
    font-size: 1.6rem;
    margin-top: 7%;
    text-align: left;
    color: #323648;    
    margin-left: 10%;
}
.tags {
    font-size: .9rem;
    text-align: left;
    font-family: Avenir;
    font-weight: 500;
    color: #222;    
    margin-top: -4%;
    margin-left: 10%;
    opacity: .4;
}
.project-p {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 100;
    width: 80%;
    font-family: Avenir;
    color: #222;    
    margin-top: -2%;
    margin-left: 10%;
}
.left {
    margin-left: 20%;
}
.right {
    margin-left: 5%;
}
.project:hover {
    box-shadow: 0px 10px 20px rgba(34, 34, 34,.6);
    transition: .3s;
}


@media screen and (max-width: 600px) {
    .info {
        margin-top: 30%;
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    h1 {
        font-size: 2.3rem;
        text-align: left;
    }
    .p {
        width: 80%;
        font-size: 18px;
    }
    .projects {
        width:100%;
        margin-left: 0%;
    }
    .projectRow {
        flex-direction: column;
        height: 950px;
    }
    .projectWrapper {
        margin-top: 12%;
    }
    .project {
        height: 100%;
        width: 90%;
        margin-left: 5%!important;
    }
    .left {
        margin-left: 0px;
    }
    .right {
        margin-left: 0px;
    }
    .footer {
        margin-top: 15vh!important;
    }
}